<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BookMate</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/books">Catalog</a></li>
        <li><a href="/books/new">Post a Book</a></li>
      </ul>
      <!--
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      -->
      
		<%= form_tag(books_path, :method => "get", id: "search-form", :class => "navbar-form navbar-left") do %>
		<div class="form-group">
		<%= text_field_tag :search, params[:search], placeholder: "Search Books", :class => "form-control"%>
		<%= submit_tag "Search" , :class => "form-control" %>
		</div>
		<% end %>
	
      <ul class="nav navbar-nav navbar-right">
  		<% if user_signed_in? %>
  			<li><a>Welcome <%= current_user.name %></a></li>
			<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
		<% else %>
			<li><a href="/users/sign_in">Login</a></li>
			<li><a href="/users/sign_up">Sign Up</a></li>
		<% end %>
        <li><a href="/wishlists/show">Wishlist</a></li>
        <li><a href="/carts/show">My Cart</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/About">About</a></li>
        <li><a href="#">Contact Us</a></li>
       
      </ul>
    </div>
  </div>
</nav>