

<!--  This code gets plugged into layout -->

<div class="container marketing">
              
        <div class="col-lg-5">
        	<div class="row">  
        		<strong>Welcome to Team L page - BOOK MATE </strong>
        		<p >Come Back to see the awesome stuff soon !!</p>
        		<p>
        		<ul>
					<li>Nidhi</li>
					<li>Swati</li>
					<li>Harini</li>
					<li>Amruta</li>
				</ul>
        		</p>
        	</div>
        	<div class="row">  
        		<p ><strong>Most Bought/Rented</strong></p>
        	</div>
        	<div class="row">  
        		<p><strong>Trending now</strong></p>
        	</div>
        </div>
        <div class="col-lg-5 pull-right" >
        	<div >
                <strong>Have a book for sale or rent? <p>Want to see the latest book offerings by your friend?</p>
                Login or register to continue!!<strong>
                <p>Have an account?</p>
                <a class="btn btn-default" href="/users/sign_in" role="button">Sign In</a>
                <p>Don't have an account? Would you like to register?</p>
                <a class="btn btn-default" href="/users//users/sign_up" role="button">Sign Out</a>
                <p>Login with your facebook profile?</p>
                <a class="btn btn-default" href="/users/sign_in" role="button">Login with facebook</a>
                <% if user_signed_in? %>
                    Signed in as <%= current_user.name %>. Not you?
                    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                <% else %>
                    <%= link_to "Sign up", new_user_registration_path %> or 
                    <%= link_to "Sign in", new_user_session_path %> or
                    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
                <% end %>
        	</div>
        </div>
    
</div>