<body>
<h2 class="text-center">Edit your Posting</h2>

<div class="container">

	<%= bootstrap_form_for @book do |f| %>
		<%= f.text_field :title, hide_label: true, placeholder: 'Title' %>
		<%= f.text_field :author_list,hide_label: true, placeholder: 'Author/Authors' %>
		<%= f.text_field :isbn, hide_label: true, placeholder: 'ISBN'%>
		<%= f.text_field :description, hide_label: true, placeholder: 'Tell us more about the book'%>
	  	<%= f.text_field :image_path, hide_label: true, placeholder: 'Add URL to the image'%>
		<%= f.text_field :price, hide_label: true, placeholder: 'Cost' %>
		<%= f.text_field :quantity,hide_label: true, placeholder: 'Quantity' %>
	    <%= f.collection_select :sale_type, Book::SALETYPES, :to_s, :to_s, :include_blank => true%>
	    <%= f.collection_select :edition, Book::EDITION, :to_s, :to_s, :include_blank => true%>
	    <br />
	    <p>Enter additional book criteria to allow customized search</p>
	    <%= f.text_field :tag_list,hide_label: true, placeholder: 'Enter search tags for your book e.g. love story, best seller, adapted movie etc.' %>
	    <%= f.text_field :category_list,hide_label: true, placeholder: 'Enter genres for you book(s) e.g. Romantic, Autobiography, Non-Fiction etc.' %>
	    <%= f.text_field :publisher_list,hide_label: true, placeholder: 'Enter the publishers for you book(s)' %>
		<%= f.submit "Edit the Posting" %>
	<% end %>
	
</div>
<br/><br/><br/><br/><br/>
</body>