<div class="main">
	
  <div class="list">
  <h2>Available Books</h2>
    <% @books.each do |book| %>
      <div class="book">
        <div id="book-image" class = "center">
          <%= image_tag book.image_path %>
        </div>
        <div id = "book-details" class = "center">
          <h3> <%= book.title %> </h3>
          <p> Price: $<%= book.price %> </p>
          <p> Quantity: <%= book.quantity %></p>
          <p> Avialable for: <%= book.sale_type %></p>
          <%= link_to "More Details", book_path(book) %>
        </div>
        <div id = "add-to-cart" class = "center">
          <br/>
          <a> Add to Wishlist </a>
          <br/><br/>
          <form action="/order_entries" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="input-group">
              <input value="1" class="form-control" min="1" type="number" name="order_entry[quantity]" />
              <div class="input-group-btn">
                <input value="<%= book.id %>" type="hidden" name="order_entry[book_id]">
                <input type="submit" name="commit" value="Add to Cart" class="btn btn-primary">
              </div>
            </div>
          </form>
          <!-- <br/><br/>
          <a href="/cart/<%=book.id%>">Add To Cart</a> -->
        </div>
      </div>
    <% end %>
    <br/><br/><br/><br/><br/>     
  </div>
</div>