<body>
  <div class="info">
    <div id="book-image" class = "center">
      <%if !(@book.image_path=="")%>
        <%= image_tag @book.image_path %>
      <% else %>
        <%= image_tag "https://www.medidirect.com.au/MEDIstores/_images/no-thumb.png" %>
      <%end %>
      
    </div>
    <div id = "book-details" class = "center">
      <h3> <%= @book.title %> </h3>
      <p>by
        <% @authors.each do |author| %>
          <%= author.author_name %> 
        <%end %>
      (author/s)
      </p>

      <p>Now, available for <%= @book.sale_type %> !!!</p>
      <br/><br/>
      <p><%= @book.description %></p>
      <br/>
      <div id = "book-specs">
        <h4> Product Specifications:</h4>
          <p>Edition: <%= @book.edition %></p>
        <p> ISBN: <%= @book.isbn %></p>
        <p>Publisher: <% @publishers.each do |publisher| %><%= publisher.publisher_name %><% end %> </p>
        <% if !@book.user_id.nil?%>
          <p>Posted by: <% @user = User.find_by id: @book.user_id %>
        	  <%=  @user.name %> (<%=  @user.email %>)</p>
       	  <% end %>
        <p>Genres: <% @categories.each do |category| %><%= category.category_name %>,<% end %> </p>
      </div>
    </div>
    <div id = "add-to-cart" class = "center">
      <br/>
      <h3>Price: $<%= @book.price %></h3>
      <%= link_to "Compare to Amazon" , amazon_price_path(@book.id), remote: true %>
      <h4><%= @book.quantity %> in stock</h4>
      <br/><br/><br/>
      <%= render "order_entries/new" , book: @book%>
    </div>
  </div>

</body>