<body>
  <div class="info">
    <%= image_tag @book.image_path %>
    <h3> <%= @book.title %> </h3>
    <p> Price: $<%= @book.price %> </p>
    <p> Quantity: <%= @book.quantity %></p>
    <p> Avialable for: <%= @book.sale_type %></p>
    <p> Edition: <%= @book.edition %></p>
    <p> ISBN: <%= @book.isbn %></p>
    <p> <%= @book.description %></p>
    <p> <%= @book.user_id %></p>

    
    <h2>User</h2>
    <p><%= @user.name %></p>
    <p><%= @user.email %></p>


<h2>Categories</h2>
<% @categories.each do |category| %>
  <p>
    <%= category.category_name %>
  </p>
<% end %>

<h2>Authors</h2>
<% @authors.each do |author| %>
  <p>Author Name: 
    <%= author.first_name %>
    <%= author.last_name %>
  </p>
<% end %>

<h2>Publishers</h2>
<% @publishers.each do |publisher| %>
  <p>
    <%= publisher.publisher_name %>
  </p>
<% end %>
</div>
<br/><br/><br/><br/><br/>

</body>