<%= form_for order_entry, remote: true do |f| %>
  <%= f.hidden_field :book_id, value: book.id %>
  <tr>
    <td data-th="Product">
      <div class="row">
        <div class="col-sm-2 hidden-xs"><img src="<%= book.image_path %>" alt="..." class="img-responsive"/></div>
        <div class="col-sm-10">
          <h4 class="nomargin"><%= book.title %></h4>
          <p><%= book.description %></p>
        </div>
      </div>
    </td>
    <td data-th="Price" ><%= book.price %></td>
    <td data-th="Quantity">
      <%= f.number_field :quantity, value: order_entry.quantity.to_i, class: "form-control text-center", min: 1, max: book.quantity %>
    </td>
    <td data-th="Purchase Price" class="text-center" ><%= order_entry.unit_cost	 %></td>
    <td data-th="Subtotal" class="text-center"><%= number_to_currency order_entry.total_price %></td>
    <td class="actions" data-th="">
      <%= f.submit "Update", class: "btn btn-info" %>
      <%= link_to "Delete", order_entry, { data: { confirm: "Are you sure you wish to delete the book '#{order_entry.book.title}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>               
    </td>
  </tr>
<% end %>
