<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Book Mate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- figure out data-turbolink - it might create trouble with js  -->
=======
  <title>Assignment3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
>>>>>>> a46b29a0ad19ae407bd10fd8aa517c7b8b22d02a
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
