<!DOCTYPE html>
<html>
<head>
  <title>Book Mate</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//js.pusher.com/3.0/pusher.min.js"></script>
  <!-- figure out data-turbolink - it might create trouble with js  -->
  <%= csrf_meta_tags %>
  
  
  
  
  
  
  
</head>
<body>
	<%= render partial: "shared/navbar" %>
	
			<script type="text/javascript">
			    // Enable pusher logging - don't include this in production
			    Pusher.log = function(message) {
			      if (window.console && window.console.log) {
			        window.console.log(message);
			      }
			    };
			
			    var pusher = new Pusher('0c8ac3a08e78a2ab9d71', {
			      encrypted: true
			    });
			    var channel = pusher.subscribe('test_channel');
			    channel.bind('my_event', function(data) {	
					toastr.success(data.message);
			    });

			  </script>
				
				<%= flash_messages %>
				
				<%= yield %>
				
		
	

</body>
</html>
